<div class="prescription-wrapper" id="prescription">
    <h2 class="prescription__title" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom">Кому подходит?</h2>
    <div class="prescription">
        <div class="prescription__card">
            <h3 class="prescription__card-title bg-blue" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom">Нарушение питания</h3>
            <div class="prescription__inner-card-wrapper  bg-blue">
                <div class="prescription__primary-img" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom"><img src="assets/img/problem01.png"></div>
                <p class="prescription__card-description">Вкусно покушать любят все. Как можно устоять перед дымящейся корочкой свежеиспеченного хлеба или кусочком торта, с любовью приготовленного мамиными руками? Никак! С возрастом сила воли только ослабевает, и так получается, что после еды
                    возникает боль в правом подреберье, горечь во рту и тошнота. Гепасейв может помочь вам и дальше наслаждаться гастрономическими радостями! Чтобы не отказываться от любимой еды, принимайте Гепасейв по 1 капсуле 2 раза в день в течение
                    месяца.
                </p>
                <div class="prescription__secondary-img"><img src="assets/img/сircle01.png"></div>
            </div>
        </div>
        <div class="prescription__card">
            <h3 class="prescription__card-title bg-blue" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom">Проблемы с кожей</h3>
            <div class="prescription__inner-card-wrapper  bg-lightbrown">
                <div class="prescription__primary-img" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom"><img src="assets/img/problem02.png"></div>
                <p class="prescription__card-description">Наша печень второй по площади выделительный орган после кожи (да-да, кожа, — это тоже орган, причем самый большой). Они всегда работают в тандеме, и если один не справляется с задачей, то второй непременно даст об этом знать. Пигментация,
                    акне, сухость, — все это часто связано с тем, что печень ввиду каких-либо причин не в полной мере исполняет свои функции. Дорогие крема и процедуры лишь убирают симптомы, тогда как на самом деле, проблема лежит внутри. К счастью, Гепасейв
                    может помочь печени справиться с загрязнением организма, и ваша кожа скажет вам: «Спасибо!»
                </p>
                <div class="prescription__secondary-img"><img src="assets/img/сircle02.png"></div>
            </div>
        </div>
        <div class="prescription__card">
            <h3 class="prescription__card-title bg-blue" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom">Высокий ритм жизни</h3>
            <div class="prescription__inner-card-wrapper  bg-lightbrown">
                <div class="prescription__primary-img" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom"><img src="assets/img/problem04.png"></div>
                <p class="prescription__card-description">Высокий ритм жизни диктует нам свои правила. Быть всегда в тренде, уметь оперировать данными, быстро находить нужную информацию. Постоянный стресс и жизнь «на ходу» в течение дня приводят к упадку сил вечером. Диван, сериал и пицца не
                    спешат отпускать нас ко сну, и мы обнаруживаем себя глубоко за полночь с полным желудком фаст-фуда. Когда мы ложимся спать, наша печень продолжает работать. В отличие от нас, она никогда не отдыхает, не устает и практически никогда
                    не жалуется. Чтобы быть бодрым по утрам и поддерживать высокий ритм жизни принимайте Гепасейв по 1 капсуле 2 раза в день.
                </p>
                <div class="prescription__secondary-img"><img src="assets/img/сircle01.png"></div>
            </div>
        </div>
        <div class="prescription__card">
            <h3 class="prescription__card-title bg-blue" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom">Прием лекарств</h3>
            <div class="prescription__inner-card-wrapper  bg-blue">
                <div class="prescription__primary-img" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom"><img src="assets/img/problem03.png"></div>
                <p class="prescription__card-description">Некачественная еда, полная ароматизаторов, стабилизаторов, усилителей вкуса и запаха, не только снижает защитные силы организма, но и оказывает огромную нагрузку на печень. А тут еще длительный прием лекарств на постоянной основе! Так
                    и получается, что, помогая одному органу, мы нагружаем другой. К счастью, есть Гепасейв – природный защитник печени! Он поможет очистить организм от побочных эффектов при приеме лекарственных средств и вывести ненужные вещества. Чтобы
                    поддержать вашу печень рекомендуем принимать Гепасейв по 1 капсуле 2 раза в день в течение месяца.
                </p>
                <div class="prescription__secondary-img"><img src="assets/img/сircle01.png"></div>
            </div>
        </div>

        <div class="prescription__card">
            <h3 class="prescription__card-title bg-blue" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom">Вздутие и лишний вес</h3>
            <div class="prescription__inner-card-wrapper  bg-blue">
                <div class="prescription__primary-img" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom"><img src="assets/img/problem05.png"></div>
                <p class="prescription__card-description">Даже если печень может не нуждаться в детоксикации, обратите свой взор на желчный пузырь и его протоки. Застой желчи вызывает нарушение расщепления и усвоения жиров, что приводит к проблеме вздутия живота и лишнего веса. Если не обращать
                    на это внимания, то в будущем это может привести к серьезным проблемам. Кстати, застой желчи могут вызывать не только обильное употребление жирной пищи и злоупотребление алкоголем, но и паразиты! Лямблии часто паразитируют в желчных
                    протоках, поэтому будьте внимательны, если у Вас есть в доме животное. Ну а мягко очистить желчные протоки вам может помочь Гепасейв!
                </p>
                <div class="prescription__secondary-img"><img src="assets/img/сircle02.png"></div>
            </div>
        </div>
    </div>
</div>