<div class="symptomes-wrapper">
    <h2 class="symptomes__title" data-aos="fade-up">От каких симптомов помогает?</h2>
    <div class="symptomes">
        <div class="symptomes__left">
            <div class="symptomes__item" data-aos="fade-up"><img src="assets\icons\symptom01.png">
                <p class="symptomes__item-description" data-aos="fade-up">Боль в правом подреберье</p>
            </div>
            <div class="symptomes__item" data-aos="fade-up"><img src="assets\icons\symptom02.png">
                <p class="symptomes__item-description" data-aos="fade-up">Тошнота</p>
            </div>
        </div>
        <div class="symptomes__center" data-aos="fade-up">
            <div class="symptomes__item-center"><img src="assets/img/woman01.png" class="symptomes__item-center" data-aos="fade-up">
            </div>
        </div>
        <div class="symptomes__right">
            <div class="symptomes__item" data-aos="fade-up"><img src="assets\icons\symptom03.png">
                <p class="symptomes__item-description" data-aos="fade-up">Тяжесть в желудке</p>
            </div>
            <div class="symptomes__item" data-aos="fade-up"><img src="assets\icons\symptom04.png">
                <p class="symptomes__item-description" data-aos="fade-up">Горечь во рту</p>
            </div>
        </div>
    </div>
</div>