<div class="symptomes-wrapper">
    <h2 class="symptomes__title">От каких симптомов помогает?</h2>
    <div class="symptomes">
        <div class="symptomes__left">
            <div class="symptomes__item"><img src="assets\icons\symptom01.png">
                <p class="symptomes__item-description">Боль в правом подреберье</p>
            </div>
            <div class="symptomes__item"><img src="assets\icons\symptom02.png">
                <p class="symptomes__item-description">Боль в правом подреберье</p>
            </div>
        </div>
        <div class="symptomes__center">
            <div class="symptomes__item-center"><img src="assets/img/woman01.png">
            </div>
        </div>
        <div class="symptomes__right">
            <div class="symptomes__item"><img src="assets\icons\symptom03.png">
                <p class="symptomes__item-description">Боль в правом подреберье</p>
            </div>
            <div class="symptomes__item"><img src="assets\icons\symptom04.png">
                <p class="symptomes__item-description">Боль в правом подреберье</p>
            </div>
        </div>
    </div>
</div>