<div class="symptomes-wrapper">
    <div class="symptomes">
        <div class="symptomes__left">
            <div class="symptomes__item"><img src="assets\icons\symptom01.png">
                <p class="symptomes__item-description">Боль в правом подреберье</p>
            </div>
            <div class="symptomes__item"><img src="assets\icons\symptom02.png">
                <p class="symptomes__item-description">Боль в правом подреберье</p>
            </div>
        </div>
        <div class="symptomes__center"></div>
        <div class="symptomes__right">
            <div class="symptomes__item"><img src="assets\icons\symptom03.png">
                <p class="symptomes__item-description">Боль в правом подреберье</p>
            </div>
            <div class="symptomes__item"><img src="assets\icons\symptom04.png">
                <p class="symptomes__item-description">Боль в правом подреберье</p>
            </div>
        </div>
    </div>
</div>