<div class="hero-wrapper">
    <div class="hero">
        <div class="hero__title-block">
            <h2 class="block__title" data-aos="fade-up" data-aos-duration="300" data-aos-delay="100">Невероятно!</h2>
            <h1 class="hero__title" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300"><span class="hero__title-bigfont" data-aos-duration="300" data-aos-delay="100">Гепасейв</span > <span style="color:#2FB5A7"> –</span> Гимолайское здоровье для вашей печени! </h1>
            <h3 class="hero__subtitle" data-aos="fade-up" data-aos-duration="300" data-aos-delay="400">
                Пикрориза курроа - основной компонент произрастает на высоте 3500-5000 метров в Гималайских горах на территории Индии и Непала.</h3>
            <button class="hero__button" data-aos="fade-up" data-aos-duration="300" data-aos-delay="500">Узнать больше</button>
        </div>
        <div class="hero__image" data-aos="fade-up" data-aos-duration="300" data-aos-delay="100">
            <div class="hero__image-item-1 parallaxLayer" data-speed="5" #parallaxHero>
                <img class="hero__image-item" src="../../../../../assets/img/productimg01.png">
            </div>
            <div class="hero__image-item-2 parallaxLayer" data-speed="2" #parallaxHero>
                <img class="hero__image-item" src="../../../../../assets/img/productimg02.png">
            </div>
            <div class="hero__image-item-3 parallaxLayer" data-speed="3" #parallaxHero>
                <img class="hero__image-item" src="../../../../../assets/img/productimg03.png">
            </div>
        </div>
    </div>
    <div class="hero__icons-wrapper">
        <div class="hero__icons-item" data-aos="fade-down" data-aos-duration="500" data-aos-delay="100"><img src="../../../../../assets/icons/heroicon01.png"></div>
        <div class="hero__icons-item" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300"><img src="../../../../../assets/icons/heroicon02.png"></div>
        <div class="hero__icons-item" data-aos="fade-right" data-aos-duration="500" data-aos-delay="500"><img src="../../../../../assets/icons/heroicon03.png"></div>
        <div class="hero__icons-item" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700"><img src="../../../../../assets/icons/heroicon04.png"></div>
    </div>
</div>