.footer-wrapper{
    width: 100%;
    max-width: 1920px;
    background: #124F48;
    color: #fff;
    font-size: 18px;
   
  }
  .footer{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    
  }
  .footer_logo{
    display: block;
    color: #E5E5E5;
    width: 200px;
    height: 91px;
    padding-left: 50px;
    padding-top: 80px;
    text-align: center;
    
  }
  .footer-top{
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    padding-top: 120px;
    font-weight: 400;
   
  }
  .footer_info{
    display: block;
    width: 140px;
    font-size: 18px;
    padding-top: 40px;
    padding-bottom:  40px;
    font-weight: 400;
   padding-right: 70px;
  
  }
  