<footer>
    <div class="footer-wrapper" id="footer">
        <div class="footer">
            <div class="footer__logo">
                <img class="footers__logo" src="/assets/img/secondary_logo.png">
            </div>
            <div class="footer__copyright">
                <span>Made With Love<br>by<span style="color: #ff0000;">MadStack</span> Digital Agency</span>
            </div>
            <div class="footer__info">
                <ul>
                    <li>117198, Москва</li>
                    <li>Ленинский проспект,113/1</li>
                    <li>оф.705С</li>
                    <li>тел: <a href="tel:+74959375736">+7(495)937-57-36</a></li>
                    <li><a href="mailto:info@cplrus.ru">E-mail: info<span style="color: #45F1DE;">@</span>cplrus.ru</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>