<div class="header-wrapper">
    <div class="header">
        <div class="header__logo">
            <div class="header__logo-img" data-aos="fade" data-aos-duration="1000">
                <img class="header__logo-img" src="../../../../../assets/img/main_logo.png">
            </div>
        </div>
        <div class="header__navigation" *ngIf="!mobile">
            <div class="navigation-wrapper">
                <ul>
                    <li class="header__navigation-item" data-aos="fade-up" data-aos-duration="600"><a>Главная</a></li>
                    <li class="header__navigation-item" data-aos="fade-up" data-aos-duration="600" data-aos-delay="100"><a>Статьи</a></li>
                    <li class="header__navigation-item" data-aos="fade-up" data-aos-duration="600" data-aos-delay="150"><a>О препарате</a></li>
                    <li class="header__navigation-item" data-aos="fade-up" data-aos-duration="600" data-aos-delay="200"><a>Где купить?</a></li>
                    <li class="header__navigation-item" data-aos="fade-up" data-aos-duration="600" data-aos-delay="250"><a>Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="header__button" data-aos="fade" data-aos-duration="1000">Задать вопрос</div>
        <app-burger *ngIf="mobile"></app-burger>
    </div>
</div>