<div class="header-wrapper">
    <div class="header">
        <div class="header__logo">
            <div class="header__logo-img" data-aos="fade" data-aos-duration="1000">
                <img class="header__logo-img" src="../../../../../assets/img/main_logo.png">
            </div>
        </div>
        <div class="header__navigation" *ngIf="!mobile">
            <div class="navigation-wrapper">
                <ul>
                    <li class="header__navigation-item" data-aos="fade-up" data-aos-duration="600"><a [routerLink]="['/']">Главная</a></li>
                    <li class="header__navigation-item" data-aos="fade-up" data-aos-duration="600" data-aos-delay="100"><a (click)="onClickScroll('blog')">Статьи</a></li>
                    <li class="header__navigation-item" data-aos="fade-up" data-aos-duration="600" data-aos-delay="150"><a (click)="onClickScroll('about')">О продукте</a></li>
                    <li class="header__navigation-item" data-aos="fade-up" data-aos-duration="600" data-aos-delay="200"><a (click)="onClickScroll('locations')">Где купить?</a></li>
                    <li class="header__navigation-item" data-aos="fade-up" data-aos-duration="600" data-aos-delay="250"><a (click)="onClickScroll('footer')">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="header__button" data-aos="fade" data-aos-duration="1000" *ngIf="!mobile">Задать вопрос</div>
        <app-burger *ngIf="mobile"></app-burger>
    </div>
</div>