<div class="blog__wrapper">
    <h2 class="blog__title" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">Это интересно!</h2>
    <div class="blog">
        <div class="blog__card" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" *ngFor="let post of news">
            <div class="blog__card-img"><img class="blog__card-img" src="assets/img/blog01.png"></div>
            <h3 class="blog__card-title">{{post.name}}</h3>
            <p class="blog__card-text">{{post.description}}
            </p>
            <button class="blog__card-btn" [routerLink]="['/news', post.id]">Читать дальше <img src=" assets/icons/btn_arrow.png "></button>
            <div class="blog__card-date ">{{post.date}}</div>
        </div>
    </div>
</div>