.locations__wrapper {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
}

.locations__title {
    color: #ff6107;
    box-sizing: border-box;
    padding: 5px 12px;
    background: #F1FAF9;
    width: fit-content;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 60px;
    margin-top: 60px;
}

.locations {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    & .locations__card {
        width: 100%;
        max-width: 255px;
        background: #Ffffff;
        border-radius: 10px;
        & .locarions__card-img {
            box-sizing: border-box;
            padding: 10px 8px;
            background: #F1FAF9;
            border-radius: 10px;
            height: 103px;
            display: flex;
            justify-content: center;
            align-items: center;
            & img {
                max-width: 235px;
            }
        }
        & .locations__card-description {
            box-sizing: border-box;
            padding: 10px 8px;
            background: #F1FAF9;
            border-radius: 10px;
            margin-top: 30px;
            display: flex;
            justify-content: center;
            & ul {
                padding-top: 20px;
                padding-bottom: 30px;
                & li {
                    margin-top: 15px;
                }
            }
        }
    }
}

@media screen and (max-width:428px) {
    .locations {
        flex-direction: column !important;
        align-content: center !important;
        & .locations__card {
            margin-top: 40px;
        }
    }
}