<p>locations works!</p>
<p>locations works!</p>

<div class="locations_title-block">
    <h1 class="block_title">Где купить?</h1>
<div class="adress_navigation">
  <div class="navigation_image">
    <div class="navigation__image1">
                <img class="hero__image-item" src="../../../../../assets/img/pharmacy01.png">
            </div>
     <div class="navigation__image2">
                <img class="hero__image-item" src="../../../../../assets/img/pharmacy04.png">
            </div>
     <div class="navigation__image3">
                <img class="hero__image-item" src="../../../../../assets/img/pharmacy02.png">
            </div>
     <div class="navigation__image4">
                <img class="hero__image-item" src="../../../../../assets/img/pharmacy03.png">
            </div>
    </div>
    <ul class="title-name-navigation">
      <li class="title_farm">
          <a class="adress_street" href="#0">Улица Вавилова д.17</a>
          <a class="adress_street" href="#0">Улица Вавилова д.17</a>
          <a class="adress_street" href="#0">Улица Вавилова д.17</a>
          <a class="adress_street" href="#0">Улица Вавилова д.17</a>
      </li>
      <li class="title-green-river">
        <a class="adress_street" href="#0">Улица Вавилова д.17</a>
        <a class="adress_street" href="#0">Улица Вавилова д.17</a>
        <a class="adress_street" href="#0">Улица Вавилова д.17</a>
        <a class="adress_street" href="#0">Улица Вавилова д.17</a>
      </li>
      <li class="title-apteka">
        <a class="adress_street" href="#0">Улица Вавилова д.17</a>
        <a class="adress_street" href="#0">Улица Вавилова д.17</a>
        <a class="adress_street" href="#0">Улица Вавилова д.17</a>
        <a class="adress_street" href="#0">Улица Вавилова д.17</a>
      </li>
      <li class="title_gorzdrav">
        <a class="adress_street" href="#0">Улица Вавилова д.17</a>
        <a class="adress_street" href="#0">Улица Вавилова д.17</a>
        <a class="adress_street" href="#0">Улица Вавилова д.17</a>
        <a class="adress_street" href="#0">Улица Вавилова д.17</a>
      </li>
    </ul>
  </nav>
</div>
</div>

