<p>locations works!</p>
<p>locations works!</p>

<div class="location-wrapper">
    <h2 class="location_title">Где купить?</h2>
    <div class="location">
        <div class="location_card-wrapper">
            <div class="location_card">
                <h3 class="location_card-title"></h3>
                <div class=location_card-img><img src="assets/img/pharmacy01.png"></div>
                <div class="location_card-map">
                    <span class="location_card">Улица Вавилова д.17</span>
                </div>
                <div class="location_card">
                    <h3 class="location_card-title"></h3>
                    <div class=location_card-img><img src="assets/img/pharmacy04.png"></div>
                    <div class="location_card-map">
                        <span class="location_card">Улица Вавилова д.17</span>
                    </div>
                    <div class="location_card">
                        <h3 class="location_card-title"></h3>
                        <div class=location_card-img><img src="assets/img/pharmacy02.png"></div>
                        <div class="location_card-map">
                            <span class="location_card">Улица Вавилова д.17</span>
                        </div>
                        <div class="location_card">
                            <h3 class="location_card-title"></h3>
                            <div class=location_card-img>
                                <div class=location_card-img><img src="assets/img/pharmacy03.png"></div>
                                <div class="location_card-map">
                                    <span class="location_card">Улица Вавилова д.17</span>
                                </div>
                            </div>
                        </div>
                    </div>