<div class="howitworks-wrapper">
    <h2 class="howitworks__title">А как это работает?</h2>
    <div class="howitworks">
        <div class="howitworks__img"><img src="assets/img/woman03.png"></div>
        <div class="howitworks__list">
            <ul>
                <li><img src="assets/icons/ul_icon01.png">Если погружаться глубоко в клетки, то Гепасейв действует через подавление Активных форм кислорода (АФК).
                </li>
                <li><img src="assets/icons/ul_icon01.png">В результате действия АФК такие важные компоненты клетки, как липиды и ДНК, окисляются, и уже не могут участвовать в нормальном метаболизме. У человека окислительный стресс является причиной или важной
                    составляющей многих серьёзных заболеваний, таких как атеросклероз, диабет, бесплодие, а также является одной из составляющих синдрома хронической усталости и процесса старения.</li>
                <li>
                    <img src="assets/icons/ul_icon01.png">Гепасейв подавляет действие АФК. Уменьшая перекисное окисление липидов, стабилизирует мембрану клетки, увеличивая ее защитные свойства. Уменьшает окисление в ДНК и РНК, тем самым увеличивая синтез
                    белков и регенерацию клеток.</li>
                <li>
                    <img src="assets/icons/ul_icon01.png">Гепасейв обладает гепатопротективным действием, связывает свободные радикалы, увеличивает вывод токсичных веществ, что в купе с увеличенным желчеотделением, способствует детоксикации организма.
                </li>
            </ul>
        </div>
    </div>
</div>