<div class="howitworks-wrapper">
    <h2 class="howitworks__title" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom">А как это работает?</h2>
    <div class="howitworks">
        <div class="howitworks__img" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom"><img src="assets/img/woman03.png"></div>
        <div class="howitworks__list">
            <ul>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="100" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom"><img src="assets/icons/ul_icon01.png">- Способствует регенерации клеток печени
                </li>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="150" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom"><img src="assets/icons/ul_icon01.png">- Защищает печень от неблагоприятных факторов</li>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="200" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom">
                    <img src="assets/icons/ul_icon01.png">- Защищает клеточные мембраны от окисления
                </li>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="250" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom">
                    <img src="assets/icons/ul_icon01.png">- Связывает токсичные вещества и выводит их
                </li>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="250" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom">
                    <img src="assets/icons/ul_icon01.png">- Мягко очищает желчные протоки
                </li>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="250" data-aos-mirror="true" data-aos-once="true" data-aos-anchor-placement="bottom-bottom">
                    <img src="assets/icons/ul_icon01.png">- Улучшает обмен веществ
                </li>
            </ul>
        </div>
    </div>
</div>