<div class="post__wrapper">
    <div class="post">
        <h2 class="post__title">Наша желчь.</h2>
        <p class="post__article">
            За сутки секретируется до 1,5 литров желчи. Желчь образуется в клетках печени – гепатоцитах, которые, с одной стороны, контактируют с кровеносными сосудами, откуда забирают необходимые организму вещества (вода, глюкоза, электролиты, витамины), а с другой,
            - выделяют желчные кислоты и желчные пигменты в печеночные протоки.
        </p>
        <div class="post__images">
            <img src="assets/newsimg/6.png">
        </div>
        <p class="post__article">
            Желчь выполняет целый комплекс разнообразных функций: обеспечивает смену желудочного пищеварения на кишечное, ликвидируя действие пепсина, эмульгирует жиры, активизирует моторику тонкой кишки, стимулирует продукцию слизи и гастроинтенсинальных гормонов: холецистокинина и секретина,
            предупреждает адгезию бактерий, а также выполняет выделительную функцию.
            <br/> Особенность желчи определяется тремя ингредиентами.
            <br/> Желчные кислоты.
            <br/>  Желчные кислоты расщепляют (эмульгируют) жиры и нужны для всасывания жирных кислот, жирорастворимых витаминов A, D, E, K, а еще они оказывают умеренное бактерицидное действие.
            <br/> Сперва в печени из холестерина образуются 2 первичные желчные кислоты. Попадая в кишечник, они подвергаются действию нашей микрофлоры, и в результате образуется более 20 различных вторичных желчных кислот. Практически все они всасываются
            назад и попадают обратно в печень. И только 5-10% выводится организмом. Чтобы скомпенсировать эту потерю, наша печень ежедневно синтезирует до 0,5 г. первичных желчных кислот.
            <br/> Желчные пигменты
            <br/> Желчные пигменты – билирубин, биливердин – являются конечным этапом метаболизма гемоглобина. В дальнейшем из этих ферментов в результате различных превращений образуются пигменты кала и мочи.
            <br/> Когда в нашем организме разрушаются эритроциты, из них высвобождается железо и пигмент зеленого цвета – биливердин, который далее превращается в билирубин (красно-коричневый пигмент). Билирубин транспортируется в печень, а оттуда – в
            кишечник, где он превращается в 2 соединения: уробилиноген (желтый пигмент) и стеркобилиноген (коричневый пигмент). Из них 95% (стеркобилиноген) выводится с калом, а 5% идут в кровь и в мочу (уробилиноген) и окрашивает последнюю в желтый цвет.
            <br/> Если в крови накапливаются желчные пигменты, то появляется желтая окраска кожи и склер.
            <br/> Холестерин
            <br/> До 80% холестерина в организме синтезируется в гепатоцитах. В среднем, за сутки синтезируется около 1 г холестерина в сутки. Если с пищей поступило много холестерина, то синтез собственного холестерина полностью прекращается. Если холестерин
            не поступает с пищей, то организм сам производит его, и полностью его же выводит. Баланс между синтезом/поступлением и выведением холестерина очень важен. Наиболее опасным является гиперхолистеринэмия – состояние, когда концентрация холестерина
            повышена. Это может вызвать риск образования атеросклероза и желчнокаменной болезни.
            <br/> При желчнокаменной болезни в желчном пузыре или протоках образуются камни в результате осаждения компонентов желчи. Камни могут быть холестериновыми и билирубиновыми. Чаще всего камни бывают холестериновыми. Это происходит тогда, когда
            холестерина в организме много, а желчных кислот для его связывания недостаточно, и тогда твердые кристаллы холестерина образуют камни. Камни могут закупоривать выводные протоки и вызывать желтуху (т.е. появление желчи в крови). Образованию
            камней также способствуют застой желчи, воспалительные заболевания желчного пузыря и его протоков.
            <br/></p>
        <div class="post__images">
            <img src="assets/newsimg/7.png">
        </div>
        <p class="post__article">
            При камнях в желчном пузыре назначают специальную диету – стол №5. Суть этой диеты заключается в уменьшении суточного потребления соли и жиров. За сутки человеку рекомендуется употреблять около 80 грамм белков и до 400 грамм углеводов, при этом не менее
            30% жиров должны иметь растительное происхождение.
        </p>
        <div class="post__images">
            <img src="assets/newsimg/8.png">
            <img src="assets/newsimg/9.png">
        </div>
        <p class="post__article">
            Как мы видим, желчь выполняет колоссальную роль в нашем организме, и поэтому так важно не нагружать печень, следить за питанием и нормальным желчеотделением. Ведь малейшее изменение в составе желчи, ее недостаточное выделение, приводит к тому, что организм
            начинает недополучать важные витамины (A, D, E, K), нарушается липидный обмен, возникает угроза возникновения атеросклероза и камней в желчном пузыре. А это может привести к его удалению.
            <br/> Старайтесь не есть жирную пищу, соблюдайте питьевой режим и умеренную физическую активность. Обратите внимание, достаточно ли клетчатки вы употребляете, так как пища с низким содержанием пищевых волокон замедляет прохождение пищи через
            кишечник, что способствует повышенному обратному всасыванию вторичных желчных кислот, в результате чего повышаются литогенные (камнеобразующие) свойства желчи. Выработайте привычку питаться регулярно и сбалансированно. А если же вы чувствуете,
            что организму нужна помощь, попробуйте Гепасейв. Гепасейв поможет нормализовать отток желчи и мягко очистит ваши желчные протоки. Ваш организм скажет вам: «Спасибо!»
        </p>
    </div>
</div>