<div class="ingridients-wrapper">
    <h2 class="ingridients__title">А что внутри?</h2>
    <div class="ingridients">
        <div class="ingridients__list">
            <ul>
                <li>Основное действующее вещество, входящее в состав Гепасейв, это Куткин (Он же Пикролив)
                </li>
                <li>Пикролив обладает выраженным гепатопротективным эффектом, сходным с Куркумином и Силимарином. </li>
                <li>При этом желчегонное действие Пикролива в разы превосходит Силимарин.
                </li>
                <li>В одной капсуле Вы получаете хороший уровень детоксикации организма и мягкое очищение желчных протоков.
                </li>
                <li>
                    Также в состав уникальной травы Пикрориза курроа входит Апоцинин, обладающий противовоспалительной активностью.</li>
                <li>Если Вы испытываете дискомфорт в желудке и кишечнике, Вас беспокоит горечь во рту и проблемы со стулом, Вы недовольны качеством своей кожи, то Гепасейв-это то, что нужно!
                </li>
            </ul>
        </div>
        <div class="ingridients__img">
            <div class="ingridient__img-item01"><img src="assets/img/woman02-1.png"></div>
            <div class="ingridient__img-item02"><img src="assets/img/woman02-2.png"></div>
            <div class="ingridient__img-item03"><img src="assets/img/woman02-3.png"></div>
        </div>
    </div>
</div>