<div class="ingridients-wrapper">
    <h2 class="ingridients__title" data-aos="fade-up" data-aos-duration="300" data-aos-delay="100" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="bottom-bottom">А что внутри?</h2>
    <div class="ingridients">
        <div class="ingridients__list">
            <ul>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="100" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="bottom-bottom"><img src="assets/icons/ul_icon01.png">
                    <p><span class="highlighted">Уникальность.</span> Первый на российском рынке продукт, полностью состоящий из Пикрориза курроа.</p>
                </li>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="150" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="bottom-bottom"><img src="assets/icons/ul_icon01.png">
                    <p><span class="highlighted">Ручной труд.</span> Растительное сырье собирается вручную. </p>
                </li>

                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="200" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="bottom-bottom"><img src="assets/icons/ul_icon01.png">
                    <p><span class="highlighted">Энергия солнца.</span> Корневища сушатся на открытом воздухе под солнцем.</p>
                </li>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="250" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="bottom-bottom"><img src="assets/icons/ul_icon01.png">
                    <p><span class="highlighted">Высокий</span> уровень извлечения действующих веществ благодаря процессу реперколяции.</p>
                </li>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="bottom-bottom"><img src="assets/icons/ul_icon01.png">
                    <p><span class="highlighted">Бережная</span> экстракция без травмирования сырья.</p>
                </li>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="350" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="bottom-bottom"><img src="assets/icons/ul_icon01.png">
                    <p><span class="highlighted">Синергетическое</span> действие входящих компонентов для здоровья вашей печени: гепатопротективное, антиоксидантное, противовоспалительное, желчегонное.</p>
                </li>
            </ul>
            <button class="ingridients__button"><a href="assets/doc/ГЕПАСЕЙВ инструкция.docx" download="ГЕПАСЕЙВ инструкция.docx">Скачать инструкцию</a></button>
        </div>
        <div class="ingridients__img">
            <div class="ingridient__img-item01" data-speed="2" #parallaxIngridients><img src="assets/img/woman02-1.png"></div>
            <div class="ingridient__img-item02" data-speed="5" #parallaxIngridients><img src="assets/img/woman02-2.png"></div>
            <div class="ingridient__img-item03" data-speed="4" #parallaxIngridients><img src="assets/img/woman02-3.png"></div>
        </div>
    </div>
</div>