.ingridients-wrapper {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
}

.highlighted {
    font-weight: bold;
    color: #124F48;
}

.ingridients__title {
    color: #ff6107;
    box-sizing: border-box;
    padding: 5px 12px;
    background: #F1FAF9;
    width: fit-content;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 60px;
    margin-top: 60px;
}

.ingridients {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    max-height: 800px;
    & .ingridients__list {
        width: 100%;
        max-width: 750px;
        border-radius: 30px;
        background: #EDFFFD;
        color: #282828;
        height: auto;
        max-height: 840px;
        & ul {
            max-width: 600px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            & li {
                font-size: 24px;
                font-weight: 300;
                margin-bottom: 32px;
                margin-left: 30px;
                line-height: 33px;
                display: flex;
                flex-direction: row;
                align-items: center;
                & img {
                    margin-right: 15px;
                }
            }
            & li:first-child {
                margin-top: 50px;
            }
            & li:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

.ingridients__img {
    position: relative;
    height: auto;
    margin-top: 200px;
    max-height: 900px;
    & .ingridient__img-item01 {
        position: relative;
        top: 0px;
        z-index: 10;
    }
    & .ingridient__img-item02 {
        position: relative;
        top: -750px;
        left: -170px;
        z-index: 9;
    }
    & .ingridient__img-item03 {
        position: relative;
        top: -1350px;
        left: -100px;
        z-index: 8;
    }
}

@media screen and (max-width:1325px) {
    .ingridients {
        flex-direction: column;
        max-height: unset !important;
    }
    .ingridients__list {
        margin: 0 auto;
        padding-bottom: 50px;
    }
    .ingridients__img {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        margin-top: 100px;
        max-height: 500px;
    }
}

@media screen and (max-width:428px) {
    .ingridients__list {
        & ul {
            & li {
                font-size: 16px !important;
            }
        }
    }
    .ingridients__img {
        max-height: 550px !important;
    }
    .ingridient__img-item01 {
        max-width: 408px;
        width: 100%;
        & img {
            max-width: 408px;
            width: 100%;
        }
    }
    .ingridient__img-item02 {
        max-width: 408px;
        width: 100%;
        top: -600px !important;
        & img {
            max-width: 408px;
            width: 100%;
        }
    }
    .ingridient__img-item03 {
        max-width: 408px;
        width: 100%;
        top: -950px !important;
        & img {
            max-width: 408px;
            width: 100%;
        }
    }
}