<div class="ingridients-wrapper">
    <h2 class="ingridients__title" data-aos="fade-up" data-aos-duration="300" data-aos-delay="100" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="bottom-bottom">А что внутри?</h2>
    <div class="ingridients">
        <div class="ingridients__list">
            <ul>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="100" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="bottom-bottom"><img src="assets/icons/ul_icon01.png">Уникальность. Первый на российском рынке продукт, полностью состоящий из Пикрориза курроа.
                </li>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="150" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="bottom-bottom"><img src="assets/icons/ul_icon01.png">Ручной труд. Растительное сырье собирается вручную.</li>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="200" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="bottom-bottom"><img src="assets/icons/ul_icon01.png">Энергия солнца. Корневища сушатся на открытом воздухе под солнцем.
                </li>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="250" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="bottom-bottom"><img src="assets/icons/ul_icon01.png">Высокий уровень извлечения действующих веществ благодаря процессу реперколяции.
                </li>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="bottom-bottom"><img src="assets/icons/ul_icon01.png">Бережная экстракция без травмирования сырья.</li>
                <li data-aos="fade-up" data-aos-duration="300" data-aos-delay="350" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="bottom-bottom"><img src="assets/icons/ul_icon01.png">Синергетическое действие входящих компонентов для здоровья вашей печени: гепатопротективное, антиоксидантное, противовоспалительное, желчегонное.
                </li>
            </ul>
        </div>
        <div class="ingridients__img">
            <div class="ingridient__img-item01" data-speed="2" #parallaxIngridients><img src="assets/img/woman02-1.png"></div>
            <div class="ingridient__img-item02" data-speed="5" #parallaxIngridients><img src="assets/img/woman02-2.png"></div>
            <div class="ingridient__img-item03" data-speed="4" #parallaxIngridients><img src="assets/img/woman02-3.png"></div>
        </div>
    </div>
</div>